<form ng-submit="loginVm.signIn(loginVm.user)" name="form" class="form form-horizontal" novalidate>
	<uib-alert ng-repeat="alert in loginVm.alerts" type="{{ alert.type }}" close="loginVm.closeAlert($index)">{{ alert.msg }}</uib-alert>

	<!-- Login -->
	<div class="form-group row">
		<div class="col-md-4 text-right">
			<label class="control-label" for="v1">Login</label>
		</div>
		<div class="col-md-4">
			<input type="text" ng-model="loginVm.user.login" name="login" id="v1" class="form-control" pattern="[a-zA-Z]{4,}" required />
		</div>
		<div ng-show="form.$submitted || form.login.$touched" class="col-md-4 help-block">
			<div ng-show="form.login.$error.required">Please, enter your login</div>
			<div ng-show="form.login.$error.pattern">Please, make sure your login contains more than 3 latin letters</div>
		</div>
	</div>

	<!-- Password -->
	<div class="form-group row">
		<div class="col-md-4 text-right">
			<label class="control-label" for="v2">Password</label>
		</div>
		<div class="col-md-4">
			<input type="password" ng-model="loginVm.user.password" name="password" id="v2" class="form-control" pattern="[a-zA-Z0-9]{4,}" required />
		</div>
		<div ng-show="form.$submitted || form.password.$touched" class="col-md-4 help-block">
			<div ng-show="form.password.$error.required">Please, enter your password</div>
			<div ng-show="form.password.$error.pattern">Please, make sure your password contains more than 3 symbols of latin letters and digests</div>
		</div>
	</div>

	<!-- Control buttons -->
	<div class="form-group row">
		<div class="col-md-4 col-md-offset-4">
			<button type="submit" ng-disabled="form.$invalid" class="btn btn-success">Sign In</button>
		</div>
	</div>
</form>

<script type="text/ng-template" id="alert.html">
	<div class="alert" style="background-color:#ff7068;color:white" role="alert">
		<div ng-transclude></div>
	</div>
</script>